/*==================================================
	Colors
==================================================*/

html {
		--gray-light: #88A2AA;
		--gray-medium: #516166;
		--gray-dark: #1B2022;

		--taupe-light: #E6E3DF;
		--taupe-medium: #ADA296;
		--taupe-dark: #797169;

		--pink-dark: #9E5D4D;
		--pink-medium: #E2856E;
		--pink-light: #F6DAD3;

		--red: #F42C04;

		--black: #0F1A20;

}

/*==================================================
	Typography
==================================================*/

html {
		--font-primary: 'Poppins', serif;
		--font-secondary: 'Raleway', sans-serif;

		--ratio: 		1.333;
		--size-six:		0.75rem;
		--size-five:	calc( 1rem * var(--ratio));
		--size-four:	calc( var(--size-five) * var(--ratio));
		--size-three:	calc( var(--size-four) * var(--ratio));
		--size-two:		calc( var(--size-three) * var(--ratio));
		--size-one:		calc( var(--size-two) * var(--ratio));

		font-family: var(--font-secondary);
}

@media (min-width: 800px) {
	html {
		font-size: 20px;
	}
}

h1, h2, h3, h4, h5, h6, p {
	color: var(--gray-dark);
	padding: 0 2rem 0;
}

h1 {
	color: var(--gray-dark);
	font-family: var(--font-primary);
	font-size: var(--size-one);
}

h2 {
	color: var(--gray-dark);
	font-size: var(--size-two);
}

h3 {
	border-top: 1px dotted var(--taupe-medium);
	color: var(--gray-dark);
	font-size: var(--size-three);
	padding: 4rem 2rem 1rem;
}

h4 {
	color: var(--gray-dark);
	font-size: var(--size-four);
}

h5 {
	color: var(--gray-medium);
	font-size: var(--size-five);
}

h6 {
	font-size: var(--size-six);
}
.link {
	color: var(--pink-medium);
	padding: 0 2rem 0;
}

.link:hover {
	color: var(--pink-light);
}

.subtext {
	color: var(--gray-medium);
	font-size: var(--size-six);
	padding: 0 2rem 0;
}

/*==================================================
	Master Layout
==================================================*/

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

main {
	margin: auto;
	max-width: 900px;
}

/*==================================================
	Header
==================================================*/

header {
	align-items: flex-end;
	background-color: var(--pink-medium);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem 2rem 0;
}

.logo {
	animation-name: logo;
	animation-duration: 1s;
	fill: var(--gray-dark);
	height: auto;
	margin: 0 0 30px;
	width: 5rem;
}

@media only screen and (max-width: 600px) {
	header {
		display: block;
		padding: 10% 0 0;
	}
	.logo {
		display: block;
		margin: 0 auto;
		padding-bottom: 30px;
		width: 35%;
	}
}

/*==================================================
	Navigation
==================================================*/

.current-page {
	border-left: 1px dotted var(--taupe-light);
	border-right: 1px dotted var(--taupe-light);
	font-family: var(--font-primary);
}

.current-page:hover {
	border-left: 1px dotted var(--taupe-dark);
	border-right: 1px dotted var(--taupe-dark);
}

.navigation a {
	color: var(--taupe-light);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.navigation a:hover {
	color: var(--taupe-dark);
}

.navigation li {
	display: inline-block;
	font-size: var(--size-six);
	padding: 0 0.5rem;
}

.navigation {
	background: transparent;
	margin: 0 0 30px;
	list-style-type: none;
	z-index: 0;
}

@media only screen and (max-width: 600px) {
	.current-page:hover {
		border: none;
	}

	.navigation {
		display: block;
		margin: auto;
		min-height: 100vh;
		padding: 5rem 8rem 3rem 5rem;
		position: absolute;
		top: 0;
	}

	.navigation a {
		color: var(--gray-dark);
	}

	.navigation a:hover {
		color: var(--pink-dark);
	}

	.navigation li {
		display: block;
		font-size: 1rem;
		line-height: 2rem;
	}

	#menu-toggle {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	input:checked ~ .navigation {
		background: var(--taupe-light);
		transform: none;
	 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	input:not(:checked) ~ .navigation {
		background: var(--taupe-light);
		transform: translate(-100%, 0);
		transform-origin: 0% 0%;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
}

.menu-icon {
	height: 1.5rem;
	fill: var(--gray-dark);
	left: 0;
	margin: 1rem 0 0 1rem;
	overflow: visible;
	position: absolute;
	top: 0;
 	transform-origin: 4px 0px;
 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease-in;
	z-index: 1;
}

@media (min-width: 400px) {
	.menu-icon {
		margin: 2rem 0 0 2rem;
	}
}

#menu-toggle input {
 	display: block;
 	width: 2rem;
 	height: 2rem;
 	position: absolute;
 	top: 2rem;
 	left: 2rem;
 	cursor: pointer;
 	opacity: 0;
 	z-index: 2;
}

.menu-icon path {
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
}

@media (min-width: 600px) {
	.menu-icon {
		opacity: 0;
		transition: none;
	}
}

.menu-icon-3 {
    transform-origin: 0%;
}

#menu-toggle input:checked ~ .menu-icon .menu-icon-1 {
 	transform: rotate(45deg);
}

#menu-toggle input:checked ~ .menu-icon .menu-icon-2 {
	opacity: 0;
}

#menu-toggle input:checked ~ .menu-icon .menu-icon-3 {
	transform: rotate(-45deg) translate(-3.1rem);
}

/*==================================================
	Hero
==================================================*/

.hero-image {
	align-items: center;
	background-color: #f9f0ed;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ada296' fill-opacity='0.96' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 70vh;
	margin: 0;
	padding: 0 3rem;
	text-align: center;
	width: 100vw !important;
}

.hero-image h4 {
	text-align: center;
}

.hero p {
	margin: 0 auto 3rem;
}

.hero-image p strong {
	font-family: var(--font-primary);
	font-size: var(--size-two);
	line-height: 4rem;
}

/*==================================================
	Animations
==================================================*/

@keyframes logo {
	0% {
		opacity: 0%;
		transform: translateY(-200%);
	}
	100% {
		opacity: 100%;
		transform: translateY(0%);
	}
}

/*==================================================
	Buttons
==================================================*/

.hero-button {
	background: var(--pink-dark);
	border: none;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	font-family: var(--font-primary);
	font-size: 0.75rem;
	padding: 1rem 2rem;
	margin-top: 3rem;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.hero-button:hover {
	background: var(--pink-medium);
	transform: translateY(-5px);
	transition: all 0.3s ease-out;
}

input[type="submit"] {
	background-color: var(--pink-dark);
	border-radius: 20px;
	color: white;
	cursor: pointer;
	display: block;
	float: right;
	font-family: var(--font-primary);
	font-size: var(--size-six);
	margin: 0 4rem 5rem 0;
	padding: 0.5rem 1.5rem;
	-webkit-font-smoothing: antialiased;
}

input[type="submit"]:hover {
	background: var(--pink-medium);
	transform: translateY(-5px);
	transition: all 0.3s ease-out;
}

/*==================================================
	Grids
==================================================*/

.card-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: 0 2rem 5rem;
}

@media only screen and (min-width: 600px) {
	.card-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.portfolio-card {
	border-bottom: 10px solid var(--pink-light);
	border-radius: 5px;
	box-shadow: 0px 0px 20px #ddd;
	padding: 2rem 2rem 1rem;
	text-align: center;
}
.portfolio-card img {
	border-radius: 5px;
	margin-bottom: 3rem;
}

/*==================================================
	Lists
==================================================*/

.experience-list {
	color: var(--gray-medium);
	list-style-type: circle;
	margin: 0 3rem 0;
}

.resume-header {
	font-size: var(--size-five);
	padding-bottom: 0.5rem;
}

.skills-list {
	list-style-type: none;
	line-height: 1.5rem;
	margin: 0 3rem 7rem;
}

.skills-list ul {
	margin-bottom: 1rem;
}

.skills-list ul li {
	list-style-type: circle;
	color: var(--gray-medium);
}

/*==================================================
	Forms
==================================================*/

form {
	margin-bottom: 10rem;
}

input[type="text"], input[type="email"], textarea {
	border: 1px solid var(--taupe-medium);
	border-radius: 5px;
	display: block;
	margin: 0 auto 1rem;
	padding: 0.5rem;
	width: 80%;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
	outline-color: var(--pink-light);
}

label {
	display: block;
	margin: 0 auto 0.5rem;
	width: 80%;
}

textarea {
	min-height: 5rem;
}

/*==================================================
	Slideshow
==================================================*/

.slider {
	display: flex;
	margin: 3rem;
	overflow-x: auto;
	scroll-snap-points-x: repeat;
	scroll-snap-type: mandatory;
}

.slider > div {
	flex-shrink: 0;
	margin: 2rem;
	width: 500px;
}

iframe {
	padding: 2rem 0 5rem;
}

/*==================================================
	Design Element Examples
==================================================*/

.dots {
	display: block;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.dot-gray-1 {
	width: 100px;
	height: 100px;
	background-color: var(--gray-light);
	border-radius: 50%;
	display: inline-block;
}

.dot-gray-2 {
	width: 100px;
	height: 100px;
	background-color: var(--gray-medium);
	border-radius: 50%;
	display: inline-block;
}

.dot-gray-3 {
	width: 100px;
	height: 100px;
	background-color: var(--gray-dark);
	border-radius: 50%;
	display: inline-block;
}

.dot-pink-1 {
	width: 100px;
	height: 100px;
	background-color: var(--pink-light);
	border-radius: 50%;
	display: inline-block;
}

.dot-pink-2 {
	width: 100px;
	height: 100px;
	background-color: var(--pink-medium);
	border-radius: 50%;
	display: inline-block;
}

.dot-pink-3 {
	width: 100px;
	height: 100px;
	background-color: var(--pink-dark);
	border-radius: 50%;
	display: inline-block;
}

.dot-taupe-1 {
	width: 100px;
	height: 100px;
	background-color: var(--taupe-light);
	border-radius: 50%;
	display: inline-block;
}

.dot-taupe-2 {
	width: 100px;
	height: 100px;
	background-color: var(--taupe-medium);
	border-radius: 50%;
	display: inline-block;
}

.dot-taupe-3 {
	width: 100px;
	height: 100px;
	background-color: var(--taupe-dark);
	border-radius: 50%;
	display: inline-block;
}

.example-primary {
	color: var(--gray-dark);
	font-family: var(--font-primary);
	font-size: var(--size-two);
	text-decoration: none;
}

.example-primary:hover, .example-secondary:hover {
	color: var(--pink-dark);
	text-decoration: underline;
}

.example-secondary {
	color: var(--gray-dark);
	font-family: var(--font-secondary);
	font-size: var(--size-two);
	text-decoration: none;
}

figure {
	background-color: var(--taupe-light);
	border-radius: 10px;
	color: var(--gray-dark);
	font-family: var(--font-primary);
	margin-bottom: 3rem;
	padding: 1rem;
}

figure h3 {
	border-top: none;
	padding: 0 2rem 0;
}

figure h5 {
	color: var(--gray-dark);
}

figure form {
	margin: 2rem 0 4rem;
}

/*==================================================
	Footer
==================================================*/

footer {
	background-color: var(--gray-dark);
	color: white;
	padding: 4rem;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

footer p {
	color: var(--taupe-medium);
	margin: 0;
}

footer ul {
	list-style-type: none;
	margin: 0 0 2rem;
}

footer li {
	display: inline;
	padding: 0 1rem;
}

footer a {
	color: white;
}

footer a:hover {
	color: var(--pink-dark);
}

/*==================================================
	Reset
==================================================*/

/* border-box makes everything easy */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,input,select,textarea,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,nav,section,main{
	box-sizing: border-box;
}

/* Better behavior for lists */
ul,ol{
	list-style-position: outside;
	margin-left: 1.4rem;
	padding-left: 0;
}

/* Keep images and videos from overspilling their bounds */
img, video{
	display: block;
	max-width :100%;
	height: auto;
}

/* Make hr just a simple line */
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;
	padding: 0;
}

/* Reduce quirky behavior for tables */
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Make input text line up with other text */
input,select{
	vertical-align: middle;
}

/* Kill default borders on fieldsets */
fieldset{
	border: none;
}

/* It's rare to want an inline textarea */
textarea{
	display: block;
}

/* Make sub and sup text line up better */
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup{
	top: -0.5rem;
}
sub{
	bottom: -0.25rem;
}

/* A fix for SVG display in old versions of IE. */
svg:not(:root){
	overflow: hidden;
}
