/*==================================================
	Colors
==================================================*/

html {
		--gray-medium: #516166;
		--gray-dark: #343434;
    --gray-darker: #1B2022;

    --periwinkle: #9296B8;
    --space-cadet: #536B7A;
    --raisin: #483C46;
    
    --eggshell: #EFECCA;
    --gold: #FDDB60;
    --ash-gray: #B3C0A4;

    --slate-gray: #818479;
    --sea-green: #87B38D;
}

/*==================================================
	Typography
==================================================*/

html {
		--font-primary: 'Poppins', serif;
		--font-secondary: 'Raleway', sans-serif;

		--ratio: 		1.333;
		--size-six:		0.75rem;
		--size-five:	calc( 1rem * var(--ratio));
		--size-four:	calc( var(--size-five) * var(--ratio));
		--size-three:	calc( var(--size-four) * var(--ratio));
		--size-two:		calc( var(--size-three) * var(--ratio));
		--size-one:		calc( var(--size-two) * var(--ratio));

		font-family: var(--font-secondary);
}

@media (min-width: 800px) {
	html {
		font-size: 20px;
	}
}

h1, h2, h3, h4, h5, h6, p {
	color: var(--gray-dark);
	padding: 0 2.5rem 0;
}

h1 {
	color: var(--gray-dark);
	font-family: var(--font-primary);
	font-size: var(--size-one);
}

h2 {
	color: var(--gray-dark);
  font-family: var(--font-primary);
	font-size: var(--size-two);
}

h3 {
	color: var(--raisin);
	font-size: var(--size-three);
	padding: 3rem 2.5rem 1rem;
  margin: 0;
}

h4 {
	color: var(--space-cadet);
	font-size: var(--size-four);
  margin: 0 0 1rem;
  padding-top: 2rem;
}

h5 {
	color: var(--ash-gray);
	font-size: var(--size-five);
  margin: 3rem 0 0;
}

h6 {
	font-size: var(--size-six);
}

ol li {
  color: var(--space-cadet);
  margin: 0 2rem 0;
}

blockquote {
  background-color: rgba(135, 179, 141, 0.2);
  color: var(--gray-dark);
  font-style: italic;
  margin-bottom: 2rem;
  padding: 1rem;
}

.link {
  color: var(--periwinkle);
	padding: 0 2.5rem 0;
}

.subtext {
	color: var(--gray-medium);
	font-size: var(--size-six);
	padding: 0 2.5rem 0;
}

/*==================================================
	Master Layout
==================================================*/

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

main {
	margin: 0 auto 10rem;
	max-width: 800px;
}

/*==================================================
	Header
==================================================*/

header {
	align-items: flex-end;
	background-color: var(--periwinkle);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem 2rem 0;
}

.logo {
	animation-name: logo;
	animation-duration: 1s;
	fill: var(--gray-dark);
	height: auto;
	margin: 0 0 30px;
	width: 5rem;
}

@media only screen and (max-width: 600px) {

	header {
		display: block;
		padding: 10% 0 0;
	}

	.logo {
		display: block;
		margin: 0 auto;
		padding-bottom: 50px;
		width: 35%;
	}

}

/*==================================================
	Navigation
==================================================*/

.current-page {
	border-left: 1px dotted var(--space-cadet);
	border-right: 1px dotted var(--space-cadet);
	font-family: var(--font-primary);
}

.navigation a {
	color: var(--gray-dark);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.navigation a:hover {
	color: var(--space-cadet);
}

.navigation li {
	display: inline-block;
	font-size: var(--size-six);
	padding: 0 0.5rem;
}

.navigation {
	background: transparent;
	margin: 0 0 30px;
	list-style-type: none;
	z-index: 0;
}

@media only screen and (max-width: 600px) {

  .current-page {
    border: none;
  }

	.current-page:hover {
		border: none;
	}

	.navigation {
		display: block;
		margin: auto;
		min-height: 100vh;
		padding: 5rem 8rem 3rem 5rem;
		position: absolute;
		top: 0;
	}

	.navigation a:hover {
		color: var(--space-cadet);
	}

	.navigation li {
		display: block;
		font-size: 1rem;
		line-height: 2rem;
	}

	#menu-toggle {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	input:checked ~ .navigation {
		background: white;
		transform: none;
	 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	input:not(:checked) ~ .navigation {
		background: white;
		transform: translate(-100%, 0);
		transform-origin: 0% 0%;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
}

.menu-icon {
	height: 1.5rem;
	fill: var(--gray-dark);
	left: 0;
	margin: 1rem 0 0 1rem;
	overflow: visible;
	position: absolute;
	top: 0;
 	transform-origin: 4px 0px;
 	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease-in;
	z-index: 1;
}

@media (min-width: 400px) {
	.menu-icon {
		margin: 2rem 0 0 2rem;
	}
}

#menu-toggle input {
 	display: block;
 	width: 2rem;
 	height: 2rem;
 	position: absolute;
 	top: 2rem;
 	left: 2rem;
 	cursor: pointer;
 	opacity: 0;
 	z-index: 2;
}

.menu-icon path {
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
}

@media (min-width: 600px) {
	.menu-icon {
		opacity: 0;
		transition: none;
	}
}

.menu-icon-3 {
    transform-origin: 0%;
}

#menu-toggle input:checked ~ .menu-icon .menu-icon-1 {
 	transform: rotate(45deg);
}

#menu-toggle input:checked ~ .menu-icon .menu-icon-2 {
	opacity: 0;
}

#menu-toggle input:checked ~ .menu-icon .menu-icon-3 {
	transform: rotate(-45deg) translate(-3.1rem);
}

/*==================================================
	Hero
==================================================*/

.hero-image {
	align-items: center;
	background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ddd9ae' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
	justify-content: center;
	flex-direction: column;
	height: 80vh;
	margin: 0;
	padding: 0 3rem;
	text-align: center;
	width: 100vw !important;
}

.hero-image h4 {
	text-align: center;
}

.hero p {
	margin: 0 auto 3rem;
}

.hero-image p strong {
  color: var(--gray-dark);
	font-family: var(--font-primary);
	font-size: var(--size-two);
	line-height: 4rem;
}

/*==================================================
	Animations
==================================================*/

@keyframes logo {
	0% {
		opacity: 0%;
		transform: translateY(-200%);
	}
	100% {
		opacity: 100%;
		transform: translateY(0%);
	}
}

/*==================================================
	Buttons
==================================================*/

.hero-button {
	background: var(--ash-gray);
	border: none;
	border-radius: 20px;
	color: var(--gray-darker);
	cursor: pointer;
	font-family: var(--font-primary);
	font-size: 0.75rem;
	padding: 1rem 2rem;
	margin-top: 3rem;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.hero-button:hover {
	background: var(--sea-green);
	transform: translateY(-5px);
	transition: all 0.3s ease-out;
}

input[type="submit"] {
	background-color: var(--periwinkle);
	border-radius: 20px;
	color: white;
	cursor: pointer;
	display: block;
	float: right;
	font-family: var(--font-primary);
	font-size: var(--size-six);
	margin: 0 4rem 5rem 0;
	padding: 0.5rem 1.5rem;
	-webkit-font-smoothing: antialiased;
}

input[type="submit"]:hover {
	background: var(--raisin);
}

/*==================================================
	Grids
==================================================*/

.card-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: 0 2rem 5rem;
}

@media only screen and (min-width: 600px) {

	.card-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
  
}

.portfolio-card {
	border-radius: 5px;
	box-shadow: 0px 0px 20px #ddd;
	padding: 1.5rem 2rem;
	text-align: center;
}

.portfolio-card:hover {
	box-shadow: 0px 0px 10px #A5A5A5;
	transition: 0.3s ease-out;
}

.portfolio-card img {
	border-radius: 5px;
  margin: 1rem 0;
}

.portfolio-card span {
  color: var(--raisin);
  font-weight: bold;
}

.portfolio-card div {
  color: var(--gray-medium);
  font-size: var(--size-six);
}

.two-column-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 2rem 0 5rem;
}

.two-column-container img {
  padding: 1rem;
}

.two-column-container div {
  padding: 1rem;
}

.two-column-container div p {
  padding: 2.5rem 2rem 0 0;
  margin: 0;
}

/*==================================================
	Lists
==================================================*/

.list {
	color: var(--gray-medium);
  line-height: 1.5rem;
	list-style-type: circle;
	margin: 2rem 5rem;
}

.resume-header {
	font-size: var(--size-five);
	padding-bottom: 0.5rem;
}

.nested-list {
	list-style-type: none;
	line-height: 1.5rem;
	margin: 0 3rem 7rem;
}

.nested-list ul {
	margin-bottom: 3rem;
}

.nested-list ul li {
	list-style-type: circle;
	color: var(--gray-medium);
}

/*==================================================
	Forms
==================================================*/

form {
	margin-bottom: 10rem;
}

input[type="text"], input[type="email"], textarea {
	border: 1px solid var(--ash-gray);
	border-radius: 5px;
	display: block;
	margin: 0 auto 1rem;
	padding: 0.5rem;
	width: 80%;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
	outline-color: var(--sea-green);
}

label {
	display: block;
  color: var(--space-cadet);
	margin: 0 auto 0.5rem;
	width: 80%;
}

textarea {
	min-height: 5rem;
}

/*==================================================
  Images
==================================================*/

.cs-img {
  margin: 3rem auto;
}

.labeled-img, .unlabeled-img {
  padding: 2rem 0;
}

.labeled-img img {
  padding: 0;
  margin: auto;
  max-width: 80%;
}

.labeled-img label {
  border-left: 2px solid var(--ash-gray);
  color: var(--slate-gray);
  font-style: italic;
  font-size: 0.9rem;
  margin: 1rem auto;
  padding: 0.25rem 0 0.25rem 0.5rem;
  text-align: left;
  width: 60%;
}

.unlabeled-img {
  margin: 0 auto;
  max-width: 80%;
}

.img-set {
  margin: 0 auto;
  padding: 2rem 0 3rem;
  text-align: center;
}

.img-set img {
  display: inline-block;
  margin: auto;
  max-width: 70%;
  padding-bottom: 1rem;
}

.img-set label {
  border-left: 2px solid var(--ash-gray);
  color: var(--slate-gray);
  font-style: italic;
  font-size: 0.9rem;
  margin: 0 auto 1rem;
  padding: 0.25rem 0 0.25rem 0.5rem;
  text-align: left;
  width: 70%;
}

.profile-image {
  border-radius: 50%;
  box-shadow: 0 0 15px lightgrey;
  height: auto;
  margin: 5rem auto;
  width: 40%;
}

.border-radius {
  border-radius: 3%/6%;
}

@media (min-width: 600px) {

  .border-radius {
    border-radius: 2%/4%;
  }

  .img-set img {
    max-width: 40%;
  }

  .profile-image {
    width: 30%;
  }

}

/*==================================================
	Slideshow
==================================================*/

.slider {
	display: flex;
	margin: 3rem;
	overflow-x: auto;
	scroll-snap-points-x: repeat;
	scroll-snap-type: mandatory;
}

.slider > div {
	flex-shrink: 0;
	margin: 2rem;
	width: 500px;
}

iframe {
	padding: 2rem 0 5rem;
}

/*==================================================
  Timeline
==================================================*/

.timeline {
  margin: 6rem auto;
  position: relative;
}

.row {
  align-items: center;
  display: flex;
  margin: 1rem;
  padding: 2rem 0;
  text-align: right;
}

.row div {
  flex: 50%;
  margin: 0 1rem;
}

.flip {
  flex-direction: row-reverse;
  text-align: left;
}

.timeline:before {
  background: var(--ash-gray);
  content: '';
  left: 50%;
  height: 100%;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.timeline img {
  max-height: 300px;
  width: auto;
}

.timeline time {
  background-color: white;
  color: var(--ash-gray);
  display: block;
  font-family: var(--font-primary);
  font-size: var(--size-five);
  padding: 0.3rem 0;
  text-align: center;
}

.timeline-location {
  background-color: white;
  color: var(--space-cadet);
  font-family: var(--font-primary);
  margin: 1rem 0;
  padding: 0.3rem 0;
}

.timeline-school {
  background-color: white;
  color: var(--raisin);
  font-family: var(--font-primary);
  margin: 1rem 0;
  padding: 0.3rem 0;
  text-align: center;
}

.journey-map-header {
  margin: auto;
  text-align: center;
}

@media (max-width: 800px) {

  .timeline div {
    margin-left: 7%;
  }

  .timeline time {
    margin-left: 7%;
    text-align: left;
  }

  .timeline:before {
    left: 10%;
  }

  .flip  {
    text-align: left;
  }

  .row {
    display: block;
    text-align: left;
  }

  .timeline-location, .timeline-school {
    text-align: left;
  }

}

/*==================================================
	Footer
==================================================*/

footer {
	background-color: var(--gray-darker);
	color: white;
	padding: 4rem;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

footer p {
	color: var(--ash-gray);
	margin: 0;
}

footer ul {
	list-style-type: none;
	margin: 0 0 2rem;
}

footer li {
	display: inline;
	padding: 0 1rem;
}

footer a {
	text-decoration: none;
}

.footer-icon {
  fill: var(--periwinkle);
  height: 40px;
  width: 40px;
}

.footer-icon:hover {
  fill: var(--ash-gray);
}

/*==================================================
	Reset
==================================================*/

/* border-box makes everything easy */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,input,select,textarea,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,nav,section,main{
	box-sizing: border-box;
}

/* Better behavior for lists */
ul,ol{
	list-style-position: outside;
	margin-left: 1.4rem;
	padding-left: 0;
}

/* Keep images and videos from overspilling their bounds */
img, video{
	display: block;
	max-width :100%;
	height: auto;
}

/* Make hr just a simple line */
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;
	padding: 0;
}

/* Reduce quirky behavior for tables */
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Make input text line up with other text */
input,select{
	vertical-align: middle;
}

/* Kill default borders on fieldsets */
fieldset{
	border: none;
}

/* It's rare to want an inline textarea */
textarea{
	display: block;
}

/* Make sub and sup text line up better */
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup{
	top: -0.5rem;
}
sub{
	bottom: -0.25rem;
}

/* A fix for SVG display in old versions of IE. */
svg:not(:root){
	overflow: hidden;
}
